<diV class="body" [class.disabledSelection]="!selectedDestination">
    <label for="typeahead-focus">Destination {{destination + 1}}</label>
    <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="model.planet" [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value);" (ngModelChange)="onSelection()"
        #instance="ngbTypeahead" />
    <hr>

    <div class="btn-group">
        <div *ngFor="let v of vehicles;">
            <label [class.disabledSelection]="disableOption(v)">
                <input type="radio" 
                name="{{'vehicle-'+destination}}" 
                value="{{v.name}}"
                [(ngModel)]="model.vehicle" (ngModelChange)="onSelection()"> 
                {{v.name }}({{v.total_no}})
            </label>
        </div>
    </div>

    <hr>
</diV>